@using ASMCshrp4_12345.ViewModels

@model LoginViewModel;

@{
	Layout = null;
}


<link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />


<div class="account-container">
	<div class="account-box">
		<h2 class="text-center mb-4">Đăng nhập</h2>
		<form asp-action="Login" method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="mb-3">
				<label asp-for="TenTaiKhoan" class="form-label">Tên tài Khoản</label>
				<input asp-for="TenTaiKhoan" class="form-control" />
				<span asp-validation-for="TenTaiKhoan" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="MatKhau" class="form-label">Mật Khẩu</label>
				<input type="password" asp-for="MatKhau" class="form-control" />
				<span asp-validation-for="MatKhau" class="text-danger"></span>
			</div>
			<div class="float-end">
				<a asp-controller="Login" asp-action="VerifyEmail" class="text-decoration-none">
					Quên mật khẩu?
				</a>
			</div>
			<div class="form-check mb-3">
				<label class="form-check-label">
					<input asp-for="RememberMe" class="form-check-input" />
					@Html.DisplayNameFor(a => a.RememberMe)
				</label>
			</div>
			<button asp-controller="Account" asp-action="Index" class="btn btn-success w-100 p-2">Đăng nhập</button>
			@* <input type="submit" value="Login" class="btn btn-success w-100 p-2" /> *@
			<hr />
			<a asp-controller="Account" asp-action="LoginGoogle" class="btn btn-success w-100 p-2">Đăng nhập với google</a>
			<p class="text-center mt-2">
				Chưa có tài khoản? <a asp-controller="Account" asp-action="Register" class="text-decoration-none">Đăng ký</a>
			</p>
			<div class="text-center">
				<a asp-controller="Home" asp-action="Index" class="text-decoration-none mt-3 btn btn-secondary ">Trở về</a>
			</div>
		</form>
	</div>
</div>


@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
	}
}
